h2 { align-content: center;
padding-left: 40%}

#player-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    z-index: 9999;
  }
  
  #player-form {
    display: flex;
    width: 50%;
    margin: 4rem auto;
    flex-direction: column;
  }
  
  #player-form input {
    padding: 1rem;
  }
html {
    background-color: skyblue;
}
#map {
    border: 10px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    float: left;

}
#infobox {
    width: 705px;
    height: 750px;
    border: 10px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    float: right;
}