.hide {
    display: none;
  }
  

#player-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    z-index: 9999;
  }
  
  #player-form {
    display: flex;
    width: 50%;
    margin: 4rem auto;
    flex-direction: column;
  }
  
  #player-form input {
    padding: 1rem;
  }