
#player-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    z-index: 9999;
  }
  
  #player-form {
    display: flex;
    width: 50%;
    margin: 4rem auto;
    flex-direction: column;
  }
  
  #player-form input {
    padding: 1rem;
  }
html {
    background-color: #5dc3ff;
}
#map {

    border: 10px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    float: left;

}
#infobox {

    width: 705px;
    height: 750px;
    border: 10px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    float: right;
}
#Sounds {
    float: left;
    background-image: url("../assets/sounds2.png");
    background-color: transparent;
    min-width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    filter: invert(1);
    border-radius: 100%;
}

#Sounds:hover {
    background-color: #45a049;
}

.rainbow-text {
    align-content: normal;
    font-size: 3em;  /* Adjust text size */
    font-weight: bold;
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    color: transparent;

    animation: rainbowAnimation 20s infinite linear;
}

@keyframes rainbowAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}